fastapi
uvicorn
google-genai         
tavily-python 
textstat       
pydantic       
python-dotenv  
sqlalchemy>=2.0.0
passlib==1.7.4
bcrypt==3.2.2
python-jose[cryptography]>=3.3.0
python-multipart>=0.0.6
email-validator>=2.1.0